@model IEnumerable<Wardrobe.Sho>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<div class="container" id="ShoeIndex">
    <div class="row">
        <div class="col">
            @Html.DisplayNameFor(model => model.Name)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Photo)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Type)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Season)
        </div>
        <div class="col">
            @Html.DisplayNameFor(model => model.Occasion)
        </div>
        <div></div>
    </div>
</div>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Photo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Color)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Season)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Occasion)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ShoeID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ShoeID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ShoeID })
        </td>
    </tr>
}

</table>
